<%= form_for @question do |f| %>
  <%= hidden_field_tag 'question[tag_list]' %> 
  <div class="form-group">
    <%= f.label :subject, class: "control-label" %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_area :description, class: "input-xlarge form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Tags", class: "control-label" %>
    <div id="tags" data-tags-url="<%= tags_path %>" data-question-id="<%= @question.id unless @question.new_record? %>">
      <%= text_field_tag :tags, "", class: "control-label" %>
    </div>
    
  </div>
  <div class="btn-group" role="group">
    <%= f.submit "Create", class: "btn btn-default btn-success" %>
    <%= link_to "Cancel", :back, class: "btn btn-default" %>
  </div>
<% end %>
