<table class="question-table">
	<tbody>
		<tr>
			<td>
				<div class="vote-cell">
					<%= render 'questions/rates', :question => question %>
				</div>
			</td>
			<td>
				<div class="question-cell">
					<div class="subject" id="<%= dom_id(question) %>">
						<h2><%= question.subject %></h2>
					</div>
					<div class="description">
						<%= question.description %>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div class="answers">
	<div class="answers-head">
		<%= render 'questions/answer_head', :question => question %>
	</div>
	<%= render 'answers/answers', :answers => question.all_answers, :question => question %>
</div>
<div class="new-answer">
  <%= render 'answers/form', :question => question, :answer => Answer.new %>
</div>