<div class="questions">
	<% questions.each do |question| %>
		<%= render 'subject', :question => question %>
  <% end %>
  <%= form_tag(questions_path, method: 'get', class: "form_for_tag") do %>
 	<%= hidden_field_tag :tag %>
  <% end %>
</div>
<% content_for :sidebar do %>
  <%= render 'tags/tags_cloud' %>
<% end %>
<% content_for :footer do %>
	<%= will_paginate questions, :container => false %>
<% end %>