<div class="subject">
	<%= render 'questions/rates', :question => question %>
	<%= question.subject %>
</div>
<div class="description">
	<%= question.description %>
</div>
<div class="answers">
	<%= render 'answers/answers', :answers => question.answers, :question => question %>
</div>
<div class="new-answer">
  <%= render 'answers/form', :question => question, :answer => Answer.new %>
</div>
