<table class="comment-table">
	<tbody>
   		<tr>
   			<td>
   				<div class="<%= dom_id(comment) %>">
						<%= comment.body %>
					</div>		
   			</td>
         <td>
           <div class="author">
             commented by <%= comment.author.name %>
           </div>
         </td>
   		</tr>
	</tbody>
</table>
<%= link_to "Edit", edit_question_answer_comment_path(comment.answer.question, comment.answer, comment), :remote => true, :method => :get if current_user == comment.author %>
<div class="edit-comment <%= dom_id(comment) %>" hidden>
  <%= render 'comments/form', :comment => comment, :answer => comment.answer, :question => comment.answer.question %>
</div>