<table class="comment-table" id="<%= dom_id(comment) %>">
	<tbody>
   		<tr>
   			<td>
   				<div class="<%= dom_id(comment) %>">
						<%= comment.body %>
					</div>		
   			</td>
         <td>
           <div class="author">
             commented by <%= comment.author %>
           </div>
         </td>
   		</tr>
	</tbody>
</table>
<%= link_to "Edit", edit_question_answer_comment_path(comment.answer.question, comment.answer, comment) if comment.user == current_user %>
