<table class="answer-table" id="<%= dom_id(answer) %>">
	<tbody>
   		<tr>
   			<td>
   				<div class="vote-cell">
						<%= render 'answers/rates', :answer => answer %>
					</div>
   			</td>
   			<td>
   				<div class="<%= dom_id(answer) %>">
						<%= answer.body %>
  				</div>
   			</td>
   		</tr>
	</tbody>
</table>
<%= link_to "Edit", edit_question_answer_path(question, answer) if answer.user == current_user %>
<%= link_to "Add comment", new_question_answer_comment_path(question, answer), :remote => true, :method => :get %>
<%= render 'comments/comments', :comments => answer.comments %>
<div class="add-comment" hidden></div>
