<div class="<%= dom_id(answer) %>">
	<%= render 'answers/rates', :answer => answer %>
	<%= answer.body %>
</div>
<%= link_to "Edit", edit_question_answer_path(question, answer) if answer.user == current_user %>
<%= link_to "Add comment", "#" %>