<!DOCTYPE html>
<html>
<head>
  <title>AskQuestion</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
	  <%= render 'layouts/flash_messages' %>
    <nav class="navbar navbar-default">
    	<div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<%= render "layouts/navigation" %>
      	</div>
  		</div>
  	</nav>

    <div class="row">
      <div class="col-md9">
        <%= yield %>
      </div>
      <div class="col-md-3">
         <%= yield :sidebar %>
      </div>
    </div>
  </div>
  <footer>
    <%= yield :footer %>
  </footer>
</body>
</html>
